.title {
  font-size: x-large;
}

.middle {
  display: block;
  flex-direction: column;
  margin: 2vh 0;
  text-align: left;
  text-size-adjust: auto;
  text-overflow: ellipsis;
  overflow: hidden;


}

p {
  margin: 0;
}